html, body, #app{
	width: 100%;
	height: 100%;
}

body{
	margin: 0px;
	overflow: hidden;
}

.mainContainer{
	display: flex;
	justify-content: space-between;
}

.inputFields{
	display: flex;
	flex-direction: column;
}

.markdownContainer{
	width: 400px;
	height: 250px;
}

.notesContainer{
	width: 400px;
	height: 300px;
}

.settingsContainer{
	display: flex;
	flex-direction: column;
}

.slidePreviewContainer{
	flex: 1;
	transform: scale(.7);
}

.slide{
	border: 2px solid black;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}